// =============================================================================
// Define breakpoints
// =============================================================================
$breakpoints: (
  xs: 320px,
  sm: 640px,
  md: 900px,
  lg: 1200px,
  xl: 1600px,
);

// =============================================================================
// Define z-index layer values
// =============================================================================
$z-indexes: (
  nuclear: 1001,
  modal: 1000,
  drawer: 999,
  above-base: 10,
  base: 1,
  behind: -1,
);
